body {
  background-image: url("https://remiautar.github.io/assets/45.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
#particles-js
{
  height: 100%;
  background: transparent;
  z-index: -1;
}
