/* alert textbox manipulation*/
.alert {
   background-color: rgba(255, 255, 255, 0.5);
   color: darkgrey;
   white-space: nowrap;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   font-size: 3em;
   font-family: sans-serif;
   letter-spacing: 0.1em;
   transition: 0.3s;
   text-shadow: 1px 1px 0 grey, 1px 2px 0 grey, 1px 3px 0 grey, 1px 4px 0 grey,
   1px 5px 0 grey, 1px 6px 0 grey, 1px 7px 0 grey, 1px 8px 0 grey,
   5px 13px 15px black;
}


.alert:hover {
  transition: 0.3s;
  transform: scale(1.1)translate(-50%, -50%);
  text-shadow: 1px -1px 0 grey, 1px -2px 0 grey, 1px -3px 0 grey,
    1px -4px 0 grey, 1px -5px 0 grey, 1px -6px 0 grey, 1px -7px 0 grey,
    1px -8px 0 grey, 5px -13px 15px black, 5px -13px 25px #808080;
}


/* brobot sprite*/
.brobot{
    position: absolute;
    top: 40%;
    left: 10%;
    background: transparent url('https://remiautar.github.io/assets/brobot.png') 0 0 no-repeat;
    width: 252px;
    height: 252px;
    transform: translate(-50%, -50%);
    margin: 2em auto;
    animation: bounce 1s steps(5) infinite;
}

/* brobot sprite animation*/
@keyframes bounce{
    100% {
        background-position: -1258px, 0;
    }
}


/* hyperlink for getting feedback*/
.feedback-link {
  display: flex;
  justify-content: flex-end;
}

.feedback-link img {
  width: 200px;
  height: 200px;
  object-fit: contain;
  padding: 10px;
  background-color: #4CAF50;
}

