.alert {
   background-color: rgba(0, 0, 0, 0.5);
}

.brobot{
    position: absolute;
    top: 40%;
    left: 10%;
    background: transparent url('https://remiautar.github.io/assets/brobot.png') 0 0 no-repeat;
    width: 252px;
    height: 252px;
    transform: translate(-50%, -50%);
    margin: 2em auto;
    animation: bounce 1s steps(5) infinite;
}

@keyframes bounce{
    100% {
        background-position: -1258px, 0;
    }
}

.feedback-link {
  display: flex;
  justify-content: flex-end;
}
.feedback-link img {
  padding: 10px;
  background-color: #4CAF50;
  border-radius: 50%;
}
