/* alert textbox manipulation*/
.alert {
   background-color: rgba(0, 0, 0, 0.5);
   animation: drop-down 2s ease-in-out; /* animation time*/
   animation-fill-mode: forwards; /* keeps final state of the animation */
   animation-iteration-count: 1; /*only do it once*/
   animation-play-state: paused;
}

/* alert textbox animation*/
@keyframes drop-down {
  from {
    transform: translateY(-100%);
  }
  50% {
    transform: translateY(50%); /* stop the animation when bottom reaches 50% of page */
  }
  to {
    transform: translateY(0);
  }
}



/* brobot sprite*/
.brobot{
    position: absolute;
    top: 40%;
    left: 10%;
    background: transparent url('https://remiautar.github.io/assets/brobot.png') 0 0 no-repeat;
    width: 252px;
    height: 252px;
    transform: translate(-50%, -50%);
    margin: 2em auto;
    animation: bounce 1s steps(5) infinite;
}

/* brobot sprite animation*/
@keyframes bounce{
    100% {
        background-position: -1258px, 0;
    }
}


/* hyperlink for getting feedback*/
.feedback-link {
  display: flex;
  justify-content: flex-end;
}

.feedback-link img {
  width: 200px;
  height: 200px;
  object-fit: contain;
  padding: 10px;
  background-color: #4CAF50;
}

